* {
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(32, 29, 29);
  color: white;
}

.text {
  margin: 20px auto;
}

.fieldset {
  margin: 20px auto;
  border: 1px solid white;
  width: 50%;
  height: auto;
}

#title {
  margin: 20px;
}

#resume {
  width: 80%;
  resize: none;
}